<div class="row justify-content-center">
    <div id="not-found" style="display:none;" role="alert" class="col-lg-4 text-center alert col-8 alert-warning alert-dismissible">
        Try searching again
    </div>
</div>

<div class="row justify-content-center">

    <form method="get" name="search-form" class="col-lg-6 d-flex">
        <label for="search" class="m-2">Title</label>
        <input id="search" type="text" required minlength="2" class="form-control" />
        <button type="submit" class="btn btn-success">Search</button>
    </form>
</div>

<div id="card" style="display:none" class="card bg-dark text-light mt-3 offset-lg-3 col-lg-6">
    <div class="text-center">
        <img id="image" class="card-img-top" src="" alt="">

        <div class="card-body">
            <h5 id="title" class="card-title"></h5>
            <a class="btn btn-lg btn-outline-info">Track</a>
        </div>
    </div>
</div>

<style>
    #image {
        width: 60%;
    }
</style>

<script>
    window.onload = () => {
        const searchFormId = 'search-form';

        const notFoundAlert = document.getElementById('not-found');

        const card = document.getElementById('card');
        const imageElement = document.getElementById('image');
        const titleElement = document.getElementById('title');

        document.forms[searchFormId].addEventListener('submit', e => {
            e.preventDefault(); // dont want to refresh page
            const searchForm = document.forms[searchFormId];
            const input = searchForm['search'].value;

            OnSearch(input);
        });

        async function OnSearch(title) {
            var response = await fetch(`Home/SearchTvShow?title=${title}`);

            const okStatusCode = 200;
            if (response.status != okStatusCode) {
                notFoundAlert.style.display = 'block';
                setTimeout(() => notFoundAlert.style.display = 'none', 5000);
                return;
            }

            var tvShow = await response.json();
            drawCard(tvShow);
        }

        function drawCard(tvShow) {
            card.style.display = 'block';
            card.classList.add('d-flex');
            imageElement.setAttribute('src', tvShow.imageUri);
            imageElement.setAttribute('alt', tvShow.name);
            titleElement.innerText = tvShow.name;
        }
    };
</script>